[Unit]
Description=Drone
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker start drone
ExecStart=/usr/bin/docker attach drone
ExecStop=/usr/bin/docker stop drone

[Install]
WantedBy=multi-user.target
